import { defineConfig } from "tsdown";

export default defineConfig({
  entry: ["{{ source_dir ~ '/' if source_dir }}index.{% if react %}tsx{% else %}ts{% endif %}"],
  outDir: "dist",
  format: ["esm"],
  dts: true,
  clean: true,
});
